body {
    margin: 1rem;
    padding: 1rem;
}
h1.title {
    margin-top: 0;
    text-align: center;
}
.container {
    margin: 0 auto;
    padding: 2em 2em 1em;
    max-width: 1080px;
}
ul.section-categories {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2em 2em 1em;
}
.section-categories li {
    width: 8em;
    text-align:center;
    margin: 0.5em 0;
}

.btn-category {
    text-transform: uppercase;
    font-weight: bold;
    width: inherit;
}
.btn-joke {
    display: none;
    position: relative;
    margin-top: 1em;
    background: #f15a24;
    color: #fff;
    border-color: #fff;
    border-style: dotted;
    border-radius: .5em;
    /* Hover effect */
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.btn-joke:hover {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
}
strong {
    color: #f15a24;
}
p > strong {
    display: block;
}
.section-jokes strong::first-letter {
    text-transform: uppercase;
}

footer {
    clear: both;
    height: 3em;
    text-align: center;
}
footer a {
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    color: #f15a24;
}